
<!doctype html>
<style>
    .article{
    margin-top:0px;
    margin-right:0px
    margin-left:0px;
    padding-left:300px;
    padding-right:300px;
    padding-top:10px;
    padding-bottom:10px;
    clear-left;
}
}

    h1 {text-align: center;}
    h2 {text-align: center;}
    h3 {text-align: center;}
    h4 {text-align: center;}
</style>

<body bgcolor="white">
<title>{{ title }}</title>
<div class="article">
<h1>{{title|safe}}</h1>
<div class="article" style="word-wrap:break-word; padding:10px;">
    <strong>ID</strong>: {{article['id_num'] | safe}}<br>
    <strong>Published:</strong> {{article['publish_time'] | safe}}<br>
    <strong>Journal:</strong> {{article['journal'] | safe}}<br>
    <strong>Authors:</strong>
    {% for author in article['authors'][:-1] %}
    {{ author.last }}, {{ author.first }};
    {% endfor %}
     {% if article['authors'][-1] %}
      {{ article['authors'][-1].last }}, {{ article['authors'][-1].first }}
     {% endif %}
{#    {{ article['authors'][-1].first }} {{ article['authors'][-1].last }}#}

{% if article['abstract'] !='' %}
<h2>Abstract</h2>
 <pre style="white-space: pre-wrap; font-family: Times, sans-serif"> {{article['abstract'] | safe}}</pre><br>
{% endif %}

    <h2>Full Text</h2>
<hr>
 <pre style="white-space: pre-wrap; font-family: Times, sans-serif"> {{article['body'] | safe}}</pre>
<hr>
 <h2>References</h2>
 {% for cit in article['citations'] %}
      {% for author in cit['authors'][:-1] %}
    {{ author.last }}, {{ author.first }};
          {% endfor %}
     {% if cit['authors'][-1] %}
      {{ cit['authors'][-1].last }}, {{cit['authors'][-1].first }}.
     {% endif %}
     {% if cit['in_corpus'] != -1 %}
         <a href="/documents/{{cit['in_corpus']}}" target="_blank">{{cit.title}}.</a>
     {% else %}
     {{ cit.title }}.
     {% endif %}
        {{ cit.year }}.<br><br>

    {% endfor %}

</div>
</div>
</body>